
@{
    ViewData["Title"] = "Login";

}




<div class="container mt-5 border border-2 p-5 border-black d-flex flex-column gap-3">


    <h2 class="text-center">Log In</h2>


    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>



    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>


</div>

