
@{
    ViewData["Title"] = "AboutUs";

}




@*body start*@



    <main class="mt-5 my-5 p-4 container bg-danger d-flex justify-content-center">


        <h2>Hello from About Us</h2>

    </main>
@*Body end*@