
@{
    ViewData["Title"] = "ContactUs";
    
}


@*body start*@



<main class="mt-5 my-5 p-4 container bg-warning d-flex justify-content-center">


    <h2>Hello from Contact us</h2>

</main>
@*Body end*@


