
@{
    ViewData["Title"] = "Home";
    
}

@*body start*@



    <main class="mt-5 my-5 p-4 container bg-primary d-flex justify-content-center">


        <h2>Hello from Index</h2>

    </main>
@*Body end*@

